{% extends 'base.html' %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}Welcome | {{ block.super }}{%  endblock %}</title>
</head>
<body>
	{% block content %}
	<div class="row">
		<!-- use xs 就會以此當最小基準 -->
		<!--<div class="col-sm-6 col-md-3">-->
		<div class="col-xs-3">
			<form method="post" action="">
		        {% csrf_token %}
		        {{ form|crispy }}
		        <input class="btn btn-primary" type="submit" value="submit">
	        </form>
		</div>

	</div>
	{% endblock %}
</body>
</html>