{% extends 'base.html' %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}Welcome | {{ block.super }}{%  endblock %}</title>
	<style>
		{% block style %}
		{% endblock %}
	</style>
</head>
<body>
	{% block jumbotron_content %}
	<div class="row">
		<div class='col-sm-6'>
			<h1>Try Django 1.8</h1>
			<p>The MVP Landing project is designed to get your project started. The goal is to help you launch as soon as possible with the least amount of investment using time or money. Join Us today.</p>
			<p><a class="btn btn-lg btn-primary" href="" role="button">Join Us &raquo;</a></p>
		</div>
		<div class='col-sm-6' style="background-color:black;height:300px;"></div>
	</div>
	{% endblock %}

	{% block content %}
	<div class="row">
		<!-- use xs 就會以此當最小基準 -->
		<!--<div class="col-sm-6 col-md-3">-->
		<div class="col-xs-3 pull-right">
			<p class="lead text-align-center">{{ title }}</p>
			<form method="post" action="">
		        {% csrf_token %}
		        {{ form|crispy }}
		        <input class="btn btn-primary" type="submit" value="submit">
	        </form>
		</div>

		<div class="col-xs-3">
			<p class="lead text-align-center">Built with Django &amp; Bootstrap</p>
		</div>

		<div class="col-xs-3">
			<p class="lead text-align-center">Created for Starters of all kinds.</p>
		</div>

		<div class="col-xs-3">
			<p class="lead text-align-center">Always Open Source</p>
		</div>
	</div>
	{% endblock %}
</body>
</html>